
.users{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.userDetails{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    width: 50%;
}

.usersWrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.user{
    width: 19%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user > h2 {
    font-size: 20px;
}



.display{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    width: 50%;
}

.experiments{
    margin-top: 50px;
    justify-content: center;
    display: flex;

}


.notdisplay{
    display: none;
}


.launches{
    margin-top: 20px;
    color: white;
    background: #5b4747;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
    font-size: 8px;
}

.launch{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #323336;
    border-radius: 10px;
    width: 20%;
    height: 20%;
}

.launch > img{

    width: 20%;
    height: 20%;
}